body{
    background-color: #000000;
}
label{
    text-align: center;
    color: whitesmoke;
    margin-top: 5px;
}

.container.register-container {
    width: 500px;
}

.submit_button {
    display: block;
    margin: auto;
}
