h1{
    color: white;
    text-align: center;
}
.title{

    text-align: center;
}
.data{
    color: white;
    margin-left: 380px;
}
.ban_user {
    display: block;
    margin: auto;
    width: 20%;
}

.delete_button {
    color: black;
    background-color: whitesmoke;
    width: 15%;
}