.title{
    color: white;
}
.city_name{
    color: white;
    text-align: center;
}

.weather_button {

    color: black;
    background-color: whitesmoke;
    width: 30%;
}

.go_back_button {

    display: block;
    margin: auto;
    color: black;
    background-color: whitesmoke;
    width: 30%;

}

.data {
    color: white;
    font-size: 20px;
}
.result_body {
    padding: 5px;
    display: block;
    margin-left: 170px;
    margin-bottom: 50px;
}

.input_field {
    display: block;
    margin: auto;
    width: 50%;
}