{% extends 'base.html' %}
{% block link %} <link rel="stylesheet" href="../static/css/personal_page_style.css" /> {% endblock %}
{% block title %}{{ user.username }}'s Page{% endblock %}


{% block content %}
    <h1 class="display-3 title">Hi, {{ user.username }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 border-2">
                <h4 class="display-6">Got something to say?</h4>
                <form method="POST" enctype='multipart/form-data'>
                    <textarea name="post" id="post" class="form-control"></textarea>
                    <input type="file" name="file"/>
                  <br />
                  <div align="center">
                    <button type="submit" class="btn post_button">Add Post</button>
                  </div>
                </form>
            </div>
            <div class="col-md-6">
                    <h4 class="display-6" align="center">Your Post: </h4>

                      {% for post in user.posts %}
                      <li class="list-group-item post_list border">
                          {% if post.img %}
                            <img class="post_image" src="../static/user_upload/{{ post.img }}">
                          {% endif %}
                          <p>{{ post.body }}</p>
                      </li>
                      {% endfor %}

            </div>


        </div>
    </div>
{% endblock %}
