{% extends "base.html" %}
{% block link %} <link rel="stylesheet" href="../static/css/search_style.css" /> {% endblock %}
{% block title %}Search{% endblock %}
{% block content %}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-4">
            <div class="row row1">
              

                <h1 class="display-4"  align="center" class="d-flex justify-content-start" >Search for User </h1 >
                <input class="form-control" id="nameHere" type="text" placeholder="Search..">
                  <button class="btn btn-primary" type="button" class="text-center" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="false" aria-controls="collapseExample" class="d-flex justify-content-end">
                    Search
                  </button>
                </h1 >
                <div class="collapse" id="collapseUsers">
                  <div class="card card-body">
                <ul class="list-group list-group-flush" id="userList">
                    {% for user in user_list %}
                        <li class="list-group-item" >
                          

                          {{ user.username  }} <!--<a href="/personal_page" class="list-group-item active"></a> -->

                        </li>
                    {% endfor %}
                </ul>
            </div>
          </div>
        </div>

            <div class="row row2">
                <h1 class="display-4" align="center">Search for Post</h1>
                <input class="form-control" id="postHere" type="text" placeholder="Search..">
                <button class="btn btn-primary" type="button" class="text-center" data-toggle="collapse" data-target="#collapsePosts" aria-expanded="false" aria-controls="collapseExample" class="d-flex justify-content-end">
                  Search
                </button>

                  <div class="collapse" id="collapsePosts">
                  <div class="card card-body">
                <ul class="list-group list-group-flush" id="postList">
                    {% for post in post_list %}
                            <li class="list-group-item">

                                    {{ post.body }}

                            </li>
                        {% endfor %}

                </ul>
            </div>
        </div>
      </div>
    </div>
        <div class="col"></div>

    </div>
    </div>

<script>
$(document).ready(function(){
  $("#nameHere").on("keyup", function() {
    var value = $(this).val();
    $("#userList li").filter(function() {
      $(this).toggle($(this).text().indexOf(value) > -1)
    });
  });
});
</script>

<script>
    $(document).ready(function(){
      $("#postHere").on("keyup", function() {
        var value = $(this).val();
        $("#postList li").filter(function() {
          $(this).toggle($(this).text().indexOf(value) > -1)
        });
      });
    });
</script>
{% endblock %}
