{% extends 'base.html' %}
{% block link %} <link rel="stylesheet" href="../static/css/summoner_style.css" /> {% endblock %}
{% block title %}OPGG{% endblock %}

{% block content %}
    <h1 class="display-3 title" >Get Summoner Info:</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-4">
                <h1 class="display-6 summoner_name"> Summoner Name:</h1>
                <form method="POST">
                  <textarea rows="1"  name="summoner" class="form-control input_field"></textarea>
                  <br />
                  <div align="center">
                    <button type="submit" class="btn submit_button">Check</button>
                  </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

{% endblock %}